#tab-contents .active {
  display: block;
}
.resume {
  height: 100%;
}
.resume .leftOptions {
  position: fixed;
  z-index: 100;
  background: #202021;
  background: linear-gradient(135deg, #2c2e2c 0, #202021 100%);
  top: 0;
  bottom: 0;
  left: 0;
  width: 250px;
  text-align: left;
  padding: 5vh;
}
.resume .leftOptions .avatar {
  text-align: center;
  margin-top: 6vh;
  font-size: 40px;
  color: #529a76;
  transition: all .3s;
}
.resume .leftOptions .avatar:hover {
  color: rgba(82, 154, 118, 0.67);
}
.resume .leftOptions .tabs ul {
  margin-top: 60px;
}
.resume .leftOptions .tabs ul li {
  padding-top: 20px;
  padding-bottom: 20px;
  color: #ffffff;
  font-size: 18px;
  transition: all .3s;
}
.resume .leftOptions .tabs ul li:hover {
  color: #85bfff;
}
.resume .leftOptions .infos {
  position: fixed;
  bottom: 15vh;
  left: 5vh;
}
.resume .leftOptions .infos svg {
  width: 40px;
  height: 40px;
  transition: all .3s;
  opacity: 0.6;
}
.resume .leftOptions .infos .boke {
  fill: #ec6149;
}
.resume .leftOptions .infos .boke:hover {
  fill: #ff1001;
  opacity: 1;
}
.resume .leftOptions .infos .github {
  fill: #5c928f;
}
.resume .leftOptions .infos .github:hover {
  fill: #8ea4ad;
  opacity: 1;
}
.resume .leftOptions .infos .qq {
  fill: #faaf08;
}
.resume .leftOptions .infos .qq:hover {
  fill: #ff7601;
  opacity: 1;
}
.resume .leftOptions .infos .weixin {
  fill: #94cb23;
}
.resume .leftOptions .infos .weixin:hover {
  fill: #afff08;
  opacity: 1;
}
.resume .leftOptions .copyrights {
  color: #aaa;
  font-size: 14px;
  position: fixed;
  bottom: 2vh;
  left: 5vh;
}
.resume .leftOptions .copyrights a {
  color: #aaaaaa;
  text-decoration: underline;
  transition: all .3s;
}
.resume .leftOptions .copyrights a:hover {
  color: #ffffff;
}
.resume .rightContents {
  padding-left: 250px;
  height: 100%;
}
.resume .rightContents .tab-contents {
  height: 100%;
}
.resume .rightContents .tab-contents .information {
  display: none;
  padding: 5vh 10vh;
  height: 100%;
  background: url("http://ox2pbpy73.bkt.clouddn.com/bg.jpg") center center no-repeat;
  background-size: cover;
}
.resume .rightContents .tab-contents .information h1 {
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  font-weight: normal;
}
.resume .rightContents .tab-contents .information h1 svg {
  width: 40px;
  height: 40px;
  fill: white;
  margin-right: 1vh;
}
.resume .rightContents .tab-contents .information ul {
  color: #ffffff;
  margin-top: 4vh;
}
.resume .rightContents .tab-contents .information ul li {
  margin-bottom: 4vh;
  font-size: 18px;
}
.resume .rightContents .tab-contents .information ul li svg {
  width: 20px;
  height: 20px;
  fill: white;
  margin-right: 1vh;
}
.resume .rightContents .tab-contents .information .description {
  margin-top: 3vh;
  max-width: 80vh;
}
.resume .rightContents .tab-contents .information .description svg {
  fill: white;
  width: 40px;
  height: 40px;
}
.resume .rightContents .tab-contents .information .description p {
  margin-top: 3vh;
  color: #ffffff;
  font-size: 16px;
  line-height: 2em;
}
.resume .rightContents .tab-contents .projects {
  display: none;
  padding: 5vh 10vh;
  background: rgba(208, 231, 222, 0.7);
}
.resume .rightContents .tab-contents .projects h1 {
  color: #111;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  font-weight: normal;
}
.resume .rightContents .tab-contents .projects .pro-items {
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
}
.resume .rightContents .tab-contents .projects .pro-items li {
  width: 60vh;
  height: 40vh;
  overflow: hidden;
  margin: 5vh;
  border-radius: 5px;
}
.resume .rightContents .tab-contents .projects .pro-items li a {
  display: inline-block;
  position: relative;
}
.resume .rightContents .tab-contents .projects .pro-items li a:hover img {
  transform: scale(1.2);
}
.resume .rightContents .tab-contents .projects .pro-items li a div {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(164, 255, 240, 0.55);
  opacity: 0;
  transition: all .3s;
}
.resume .rightContents .tab-contents .projects .pro-items li a div:hover {
  opacity: 1;
}
.resume .rightContents .tab-contents .projects .pro-items li a div h3 {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: all 1s;
}
.resume .rightContents .tab-contents .projects .pro-items li a div:hover h3 {
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.resume .rightContents .tab-contents .projects .pro-items li a div span {
  text-align: center;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: all 1s;
}
.resume .rightContents .tab-contents .projects .pro-items li a div:hover span {
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.resume .rightContents .tab-contents .projects .pro-items li a img {
  width: 100%;
  height: 100%;
  transition: all .3s;
}
.resume .rightContents .tab-contents .skills {
  display: none;
  background: rgba(208, 231, 222, 0.7);
  padding: 5vh 10vh;
}
.resume .rightContents .tab-contents .skills h1 {
  font-weight: normal;
}
.resume .rightContents .tab-contents .skills #main {
  margin: 0 auto;
}
.resume .rightContents .tab-contents .skills .intro {
  margin-top: 10vh;
}
.resume .rightContents .tab-contents .skills .intro svg {
  margin-top: 5vh;
  width: 40px;
  height: 40px;
}
.resume .rightContents .tab-contents .skills .intro .text {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.resume .rightContents .tab-contents .skills .intro .text .cap,
.resume .rightContents .tab-contents .skills .intro .text .adv {
  width: 70vh;
  line-height: 2em;
}
.resume .rightContents .tab-contents .skills .intro .text .cap h3,
.resume .rightContents .tab-contents .skills .intro .text .adv h3 {
  position: relative;
  left: -3vh;
}
.resume .rightContents .tab-contents .skills .intro .text .cap ul,
.resume .rightContents .tab-contents .skills .intro .text .adv ul,
.resume .rightContents .tab-contents .skills .intro .text .cap li,
.resume .rightContents .tab-contents .skills .intro .text .adv li {
  list-style: disc;
}
.resume .rightContents .tab-contents .skills .intro .text .cap {
  margin-right: 5vh;
}
.resume .rightContents .tab-contents .contacts {
  display: none;
  padding: 5vh 10vh;
  background: rgba(208, 231, 222, 0.7);
  height: 100%;
}
.resume .rightContents .tab-contents .contacts h1 {
  font-weight: normal;
}
.resume .rightContents .tab-contents .contacts ul {
  display: flex;
  justify-content: space-around;
  padding: 5vh 0;
  align-items: center;
}
.resume .rightContents .tab-contents .contacts ul li {
  width: 30vh;
  position: relative;
}
.resume .rightContents .tab-contents .contacts ul li img {
  width: 100%;
}
.resume .rightContents .tab-contents .contacts ul li span {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  color: #aaa;
}
.resume .rightContents .tab-contents .contacts .rest {
  display: flex;
  justify-content: space-around;
  padding-top: 10vh;
}
.resume .rightContents .tab-contents .contacts .rest .phone,
.resume .rightContents .tab-contents .contacts .rest .c-github,
.resume .rightContents .tab-contents .contacts .rest .c-blog {
  font-size: 16px;
  display: inline-flex;
  align-items: center;
  color: #555;
}
.resume .rightContents .tab-contents .contacts .rest .phone svg,
.resume .rightContents .tab-contents .contacts .rest .c-github svg,
.resume .rightContents .tab-contents .contacts .rest .c-blog svg {
  width: 20px;
  height: 20px;
  fill: black;
  margin-right: 1vh;
}
.resume .rightContents .tab-contents .contacts .rest .phone a,
.resume .rightContents .tab-contents .contacts .rest .c-github a,
.resume .rightContents .tab-contents .contacts .rest .c-blog a {
  color: #555;
  transition: all .3s;
}
.resume .rightContents .tab-contents .contacts .rest .phone a:hover,
.resume .rightContents .tab-contents .contacts .rest .c-github a:hover,
.resume .rightContents .tab-contents .contacts .rest .c-blog a:hover {
  color: #111111;
  text-decoration: underline;
}
