* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  height: 100%;
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #111;
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}
